@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

h1 {
  font-family: "Merriweather", serif;
  font-size: 2.7em;
  font-weight: 900;
  color: black;
}
h3,
h2 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}
body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fbfffe;
  min-height: 100%;
  margin: auto;
}
header {
  background-image: url(https://www.publicdomainpictures.net/pictures/380000/velka/digitalisierung-2012004.jpg);
  padding-left: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
  border-bottom: #4f9fc2;
}
main {
  padding: 4em 2em 3em 2em;
}
label {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: left;
  margin-right: 0.5em;
  display: block;
}

input {
  font-size: 1em;
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #1b1b1e;
  border-radius: 10px;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
button {
  color: white;
  background-color: #4f9fc2;
  padding: 1em 2em 1em 2em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  border: solid 2px black;
  margin-left: 2em;
}
#output,
#output2 {
  color: #4f9fc2;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
footer {
  background: black;
  color: white;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  font-size: 1em;
}
